@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --color1: rgba(21, 49, 70, 0.712);
  --color2: #d6d3c9;
  --color3: rgb(241, 251, 247);
  --color4: rgb(149, 56, 56);
  --color5: rgb(58, 133, 32);

  color: var(--color2);
  font-weight: 400;
}

body {
  background: url(https://cdn.pixabay.com/photo/2018/11/25/14/38/landscape-3837559_960_720.png) no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 2vmin;
  padding: 2vmin;
}

article {
  background-color: var(--color1);
  border-radius: 2vmin;
  padding: 2vmin;
}

#location {

}

#feels {

}

#forecast {
  grid-area: 2 / 1 / 3 / 3;
}
